body {
  margin: 0 auto;
  max-width: 50em;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
  color: #566573;
  background-color: #FDFEFE;
}

h1,
h2,
strong {
  color: #333;
}

a {
  color: #2b2cc8;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

footer { 
  margin-top: 1em;
  padding-top: 3em;
  text-align: center;
}

footer a {
  color: #7B7D7D;
}
